* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
}

/* Table */
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #ccc;
}

/* Modal */
.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal .modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 1s;
}

.Modal .modal-content h2 {
  text-align: center;
}

.closeBtn {
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
